.messenger {
    height: calc(100vh - 50px);
    display: Flex;
    overflow: hidden;
    .chatMenu {
        // background-color: red;
        flex: 3;
        position: sticky;
        top: 0px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: 2px;
        }
        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            // border-radius: 2rem;
        }
        &::-webkit-scrollbar-thumb {
            background: rgb(196, 196, 196);
            border-radius: 2rem;
        }
        .chatMenuWrapper {
            height: 100%;
            padding: 10px;
            padding-top: 0px;
            
            .chatMenuSearch {
                width: 100%;
                padding: 10px 0px;
                border: none;
                border-bottom: 1px solid grey;
                position: sticky;
                top: 0px;
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                    // border-radius: 2rem;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgb(196, 196, 196);
                    border-radius: 2rem;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
    .chatBox {
        flex: 5.5;
        .chatBoxWrapper {
            height: 100%;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            .noConversation{
                align-self: center;
            }
            
            // background-color: red;
            .chatBoxTop{
                height: 100%;
                overflow-y: scroll;
                padding: 0 20px;
                &::-webkit-scrollbar {
                    width: 3px;
                }
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                    // border-radius: 2rem;
                }
                &::-webkit-scrollbar-thumb {
                    background: rgb(196, 196, 196);
                    border-radius: 2rem;
                }
                &:focus {
                    outline: none;
                }
            }
            .chatBoxBottom{
                margin: 5px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 10px;
                // background-color: red;
                .chatMessageInput{
                    width: 80%;
                    height: 30px;
                    padding: 10px;
                    border-radius: 10px;
                    resize: none;
                    
                    &:focus{
                        outline: none;
                    }
                    &::-webkit-scrollbar {
                        visibility: hidden;
                        
                    }
                    
                }
                .ChatSubmitBtn{
                    width: 70px;
                    height: 40px;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    margin-right: 10px;
                    background-color: #0f8300;
                    color: white;
                }
            }
        }
    }
    .chatOnline {
        flex: 3;
        .chatOnlineWrapper {
            height: 100%;
            padding: 10px;
        }
    }
}
